{% extends 'base.html' %}

{% block title %} Almuerzo {% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-8 text-center">
                <h2 class="pt-3"> Mas Almuerzos </h2>
                <div class="row">
                    {% for almuerzos in almuerzos %}
                    <div class="col-md-4 p-4">
                        <img class="pictures" src="{{ almuerzos.aImage }}" >
                        <h2 class="item-title" id="alm{{almuerzos.id}}"> {{ almuerzos.name}} </h2>
                        <div class="form-check-inline">
                            <label  class="form-check-label">
                                <input class="form-check-input" type="radio" name="alm{{almuerzos.id}}" value="{{ almuerzos.priceM }}">
                                {{ almuerzos.priceM }} $

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label  class="form-check-label">
                                <input class="form-check-input" type="radio" name="alm{{almuerzos.id}}" value="{{ almuerzos.priceM }}">
                                {{ almuerzos.priceL }} $
                            </label>     
                        </div>
                        <div>
                            <button class="btn-info mt-3"> Añade al carrito </button>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
             
            </div>
            <div class="col-md-4 order">
                <h2 class="text-center"> Lista de Ordenes </h2>
                <ul></ul>
                <h4> Total a Pagar: 0$</h4>
             
            </div>
            
        </div>
       
    </div>




{% endblock %}