{% extends 'base.html' %}

{% load static %}

{% block title %} Almuerzo {% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-8 text-center">
                <h2 class="pt-3"> Mas Almuerzos </h2>
                <div class="row">
                    {% for almuerzos in almuerzos %}
                    <div class="col-md-4 p-4">
                        <img class="pictures" src="{{ almuerzos.aImage }}" >
                        <h2 class="item-title" id="almu{{almuerzos.id}}"> {{ almuerzos.name}} </h2>
                        <div class="form-check-inline">
                            <label  class="form-check-label">
                                <input class="form-check-input" type="radio" name="alm{{almuerzos.id}}" value="{{ almuerzos.priceM }}">
                                M: {{ almuerzos.priceM }} $

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label  class="form-check-label">
                                <input class="form-check-input" type="radio" name="alm{{almuerzos.id}}" value="{{ almuerzos.priceM }}">
                                L: {{ almuerzos.priceL }} $
                            </label>     
                        </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addAlmuerzos('{{ almuerzos.id }}')"> Añade al carrito </button>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
             
            </div>
            <div class="col-md-4 order">
                <div class="bg-dark p-4 rounded text-light">
                    <h2 class="text-center"> Lista de Ordenes </h2>
                    <ul id="acart"></ul>
                    <h4 id="atotal"> Total: 0$</h4>
                </div>
            </div>            
        </div>       
    </div>
    <script src="{% static 'food/js/almuerzo.js' %}"></script>



{% endblock %}